{{ partial "header.html" . }}
{{ partial "navbar.html" . }}


<div class="pure-g">
    <div class="pure-u-1-24 pure-u-md-5-24"></div>
	<div class="pure-u-11-12 pure-u-md-5-8">
	  <p class="posts-name">{{ .Title }}:</p>

	  <ul class="posts">
		{{ $baseurl := .Site.BaseURL }}
		{{ range $name, $page := .Data.Pages }}
		{{ if eq .Type "post" }}
		<li>
		  <a href="{{ .Permalink }}">{{ $page.Title }}</a>

		
		</li>
		{{ end }}
		{{ end }}
	  </ul>
	</div>
    <div class="pure-u-1-24 pure-u-md-1-6"></div>
</div>

{{ partial "footer.html" . }}
