{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="pure-g">
    <div class="pure-u-1-24 pure-u-md-5-24"></div>
	<div class="pure-u-11-12 pure-u-md-5-8">
        <div class="post">

            <div class="post-title">
               
                <h1>{{ .Title }}</h1>
            </div>

            <div class="post-content">
                {{ .Content }}
            </div>
        </div>
	</div>
    <div class="pure-u-1-24 pure-u-md-1-6"></div>
</div>

{{ partial "footer.html" . }}
