<!--
<header id="menu">
  <div class="pure-g">
      <div class="pure-u-1-24"></div>
      <div class="pure-u-11-12">
          <span class="logo">{{ .Site.Title }}</span>
	      <a>&#9776;</a>
      </div>
      <div class="pure-u-1-24"></div>
  </div>
</header>

<nav class="navbar">
  <div class="pure-g">
      <div class="pure-u-1-24 pure-u-md-1-6"></div>
	  <div class="pure-u-11-12 pure-u-md-2-3">
		<ul class="">
		  {{ $burl := .Site.BaseURL }}
		  <li class=""> <a href="{{ $burl }}" class="brand" style="font-weight:bold;font-size:normal"> {{ .Site.Title }} </a></li>
		  <li class="pull-right cate"> <a href="{{ $burl }}about/" class=""> About </a></li>
		  {{ range $name, $pages := .Site.Taxonomies.categories }}
		  <li class="pull-right cate"> <a href="{{ $burl }}categories/{{ $name | urlize }}" class=""> {{ $name | title }} </a></li>
		  {{ end }}
		</ul>
	  </div>
      <div class="pure-u-1-24 pure-u-md-1-6"></div>
  </div>
</nav>
-->
<div class="header pure-g">
    <div class="pure-u-1-24 pure-u-md-5-24"></div>
    <div class="pure-u-11-12 pure-u-md-5-8">
        <div class="desktop pure-menu pure-menu-horizontal nav-menu">
            {{ $baseurl := .Site.BaseURL }}
            <a href="/" class="site-title pure-menu-heading">{{ .Site.Title }}</a>
            <ul class="pure-menu-list">
                {{ range $name,$page := .Site.Taxonomies.categories }}
                <li class="pure-menu-item">
                    <a href="{{ $baseurl }}categories/{{ $name | urlize }}" class="pure-menu-link">{{ $name | title }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="mobile pure-menu nav-menu">
            <a href="/" class="pure-menu-heading" id="toggle-home">{{ .Site.Title }}</a>
            <a href="#" id="toggle-btn">&#9776;</a>
            <ul class="pure-menu-list" id="toggle-content" style="display:none;">
                {{ $baseurl := .Site.BaseURL }}
                {{ range $name,$page := .Site.Taxonomies.categories }}
                <li class="pure-menu-item">
                    <a href="{{ $baseurl }}categories/{{ $name | urlize }}" class="pure-menu-link">{{ $name | title }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
    <div class="pure-u-1-24 pure-u-md-1-6"></div>
</div>
